html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #303030;
}

/* Form loading spinner position*/
.loading {
  position: fixed;
  top: 6px;
  left: 15px;
  width: 70%;
}
.hideload {
  display: none;
}

/* Form origin/destination buttons */
.icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: 20px;
  height: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Input label postions */
label {
  position: relative;
  top: -9px !important;
  left: 10px !important;
}
.bgg {
  background-color: transparent !important;
  border: none !important;
}
.loadingBg {
  background-color: #212529;
  width: 100%;
  height: 100%;
  position: absolute;
}
.loadingScreen {
  position: fixed;
  width: 100%;
  top: 45%;
}
.bd {
  background-color: #212529;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: 99999999 !important;
}
/* orign/destination input width/height */
.input-width {
  width: 49.6% !important;
}
@media only screen and (max-width: 900px) {
  .input-width {
    width: 100% !important;
  }
}
.input-height {
  height: 40px !important;
  padding-top: 20px !important;
  position: relative;
  left: 1px !important;
}
@media only screen and (max-width: 1200px) {
  .input-height {
    position: relative;
    left: 0px !important;
  }
}

/* Form calculate button styles */
.calculateBtn {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  position: relative;
  top: 4.5px;
  width: 98% !important;
}
@media only screen and (max-width: 600px) {
  .calculateBtn {
    width: 95% !important;
  }
}

/* Form scootbutton dropdown arrow off */
.dropdown-toggle::after {
  content: none !important;
}

/* Form scootbutton on/off switch colors */
.form-switch .form-check-input {
  background-color: #fff !important;
  box-shadow: none !important;
  border: transparent;
}
.form-switch .form-check-input:checked {
  background-color: #0dcafe !important;
}

/* Form background */
.formContainer {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(3.4px);
  width: 55% !important;
}
@media only screen and (max-width: 1200px) {
  .formContainer {
    width: 100% !important;
  }
}

/* Calculationresults styles */
.resultsContainer {
  width: 45% !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
@media only screen and (max-width: 900px) {
  .resultsContainer {
    width: 100% !important;
  }
}

/* googlemap autocomplete styles */
.pac-container {
  background-color: #212529;
  box-shadow: none;
  z-index: 1051 !important;
}
.pac-matched {
  color: red;
}
.pac-item-query {
  color: red;
}
.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #0dcaf0;
  font-size: 11px;
  color: #999;
}
.pac-item:hover {
  background-color: #101214;
}
.pac-item-selected,
.pac-item-selected:hover {
  background-color: #101214;
}
.pac-matched {
  color: #e1e3e4;
}
.pac-item-query {
  color: #e1e3e4;
}
.pac-placeholder {
  color: rgb(255, 0, 0);
}

/* googlemap responsiveness */
.map-container {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .map-container {
    height: 96vh;
  }
}

/* Googlemap bottomright prints off */
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

/* goolgemap infowindow styles */
.gm-iw {
  color: #0dcafe !important;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: #212529;
  color: #0dcaf0 !important;
}
.gm-style .gm-style-iw-tc::after {
  background: #212529;
}
button.gm-ui-hover-effect > span {
  background-color: #0dcaf0 !important;
}

/* Scoot marker styles */
.markBtns {
  margin-left: 6px;
}
.vuokraa {
  text-decoration: none;
  color: #000;
}
.voiheading {
  color: #f46c63;
  font-size: 18px;
}
.tierheading {
  color: #00ffe5;
  font-size: 18px;
}
.battery {
  position: relative;
  top: 1px;
  font-weight: 400;
}
